services:
  website:
    build: website
    expose:
      - 3000
    depends_on:
      evaluator:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:3000"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_interval: 1s
      start_period: 5s

  website-proxy:
    build: website_proxy
    environment:
      - WEBSITE_PROXY_NGINX_STATUS_TOKEN=super_secret # Change in prod!
    ports:
      - 127.0.0.1:80:80
    depends_on:
      website:
        condition: service_healthy

  evaluator:
    build: evaluator
    # seems needed for nsjail
    privileged: true
    ports:
      - 7800:7800
    environment:
      - RUST_LOG=debug
      - REDIS_LINKS_HOST=redis://links-valkey:7900
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:7800/liveness"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_interval: 1s
      start_period: 10s
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
    cgroup: host
    depends_on:
      links-valkey:
        condition: service_healthy

  statserver:
    build: statserver
    environment:
      - PORT=9898
      - WEBSITE_PROXY_NGINX_STATUS_TOKEN=super_secret # Change in prod!
      - REDIS_LINKS_HOST=links-valkey
      - REDIS_LINKS_PORT=7900
    ports:
      - "127.0.0.1:9898:9898"

  links-valkey:
    build: valkey
    environment:
      - PORT=7900
      - CONFIG_NAME=links
    healthcheck:
      test: ["CMD-SHELL", "valkey-cli", "-p", "$$PORT", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_interval: 1s
      start_period: 10s

