version: '3'
services:
  web:
    build: website
    environment:
      - WEBSITE_PORT=80
      - WEBSITE_EVALUATOR_URL=http://evaluator:7800
    ports:
      - "80:80"
    networks:
      - code-exec-nw
    depends_on:
      evaluator:
        condition: service_healthy

  evaluator:
    build: evaluator
    ports:
      - "7800:7800"
    depends_on:
      dind:
        condition: service_healthy
    volumes:
      - dind-certs-client:/certs/client
      - code:/www/app/sources
    environment:
      - DOCKER_TLS_CERTDIR=/certs
      - DOCKER_TLS_VERIFY=1
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_HOST=tcp://docker:2376
    networks:
      - dind-nw
      - code-exec-nw
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:7800/liveness"]
      interval: 5s
      timeout: 3s
      retries: 2
      start_period: 1s

  dind:
    build: dind
    privileged: true
    volumes:
      - dind-certs-client:/certs/client
      - dind-certs-ca:/certs/ca
      - code:/www/app/sources
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    networks:
      dind-nw:
        aliases:
          - docker
    expose:
#     - 2375 Do not expose the non TLS port
      - 2376
    healthcheck:
      test: ["CMD", "docker", "info"]
      interval: 3s
      timeout: 5s
      retries: 2
      start_period: 1s

volumes:
  dind-certs-client:
  dind-certs-ca:
  # A volume where all the submitted source codes
  # are located.
  code:

networks:
  dind-nw:
  code-exec-nw:
