{% extends 'base.html' %}

{% block page_h1 %}
<h1>Run Lua Online</h1>
{% endblock %}

{% block content %}

<div id="evaluator">
    <div class="flex-1" id="code-view">
        <div class="settings">
            <select id="lua-version">
                <option value="5.1">Lua 5.1</option>
                <option value="5.2">Lua 5.2</option>
                <option value="5.3">Lua 5.3</option>
                <option value="jit">LuaJIT</option>
            </select>
        </div>
        <div id="code" class="flex-1"></div>
    </div>

    <div id="output-view">
        <div class="output" id="stdout">
            <div class="code-loader hidden">
                <div class="spinner"></div>
            </div>
            <div class="output-text">
            </div>
        </div>

        <div class="output" id="stderr">
            <div class="code-loader hidden">
                <div class="spinner"></div>
            </div>
            <div class="output-text">
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/editor-bundled.js') }}"></script>
{% endblock %}
