<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssreset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <span class="webpage-name">Filip Gregor's website</span>
        <nav>
            <a href="/code">Code</a>
            <a href="/blog">Blog</a>
            <a href="/gadgets">Gadgets</a>
            <a href="/cv">CV</a>
        </nav>
    </header>

    <main>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </main>

    <ul class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endwith %}
    </ul>

    <footer>
    </footer>
</body>
