name: Build, Lint and Test

on: [pull_request]

jobs:
  infra-changed:
    runs-on: ubuntu-latest
    name: Get all changed files in infrastructure
    outputs:
      infra_changes: ${{ steps.changed-files.outputs.changed_files }}
    steps:
    - uses: actions/checkout@v4
    # Store the output of the previous step in a variable
    - name: Store the output
      id: changed-files
      run: echo "changed_files=${{ steps.changed-files.outputs.files }}" >> "$GITHUB_OUTPUT"

  format-evaluator:
    name: Format evaluator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          cd evaluator
          cargo fmt --check

  build-evaluator:
    name: Build and test evaluator
    needs: format-evaluator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          cd evaluator
          cargo build
          cargo clippy
          cargo test
    
  evaluator-integration-tests:
    name: Evaluator
    needs: build-evaluator
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get changed files in infra folder
        id: changed-infra
        uses: tj-actions/changed-files@v44
        with:
          files: evaluator/infra/**
      - name: Maybe build infra
        if: ${{ steps.changed-infra.outputs.any_changed }} == 'true'
        run: |
          cd evaluator/infra
          make build
      - name: Run the tests
        run: |
          make test

  lint-website:
    name: Check lint - website
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Checkout
        uses: actions/checkout@v4
      - name: build and test
        run: |
          cd website
          pnpm install
          pnpm run lint

  build-website:
    name: Build and unittest website
    runs-on: ubuntu-latest
    needs: lint-website
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Checkout
        uses: actions/checkout@v4
      - name: build and test
        run: |
          cd website
          pnpm install
          pnpm run build
          pnpm run test:unit

  E2E-website:
    name: Run E2E tests on website
    runs-on: ubuntu-24.04
    needs: build-website
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          cd website
          pnpm i
          pnpm exec playwright install --with-deps
      - name: Run tests
        run: |
          docker compose up -d
          cd website
          pnpm run test:integration
      - name: Stop services
        run: |
          docker compose down
